                * {
                    margin: 0;
                    padding: 0;
                }
                
                .center {
                    padding-left: calc(50% - 800px);
                    padding-right: calc(50% - 800px);
                }
                
                body {
                    background: #FFF;
                }
                
                .header__menu {
                    background-color: #222;
                    display: flex;
                    gap: 859px;
                    justify-content: center;
                    height: 75px;
                    align-items: center;
                }
                
                .left__block {
                    display: flex;
                    gap: 41px;
                }
                
                .header {
                    background: #F1E4E6;
                    display: flex;
                    align-items: center;
                }
                
                .the__brand {
                    color: #222;
                    font-family: Lato;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                }
                
                .of__luxerios {
                    color: #222;
                    font-family: Lato;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                
                .fashion {
                    color: #F16D7F;
                    font-family: Lato;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                
                .right__block__2 {
                    display: flex;
                    gap: 16px;
                    justify-content: center;
                    align-items: flex-end;
                    margin-left: 64px;
                    margin-bottom: 81px;
                }
                
                .categories {
                    gap: 30px;
                    margin-top: 65px;
                    display: grid;
                    justify-content: center;
                    justify-items: center;
                    grid-template-columns: repeat(3, 360px);
                    grid-template-rows: auto;
                    position: relative;
                    text-align: center;
                    color: white;
                }
                
                .categories__img {
                    width: 360px;
                    height: 260px;
                }
                
                .item_4 {
                    grid-column-start: 1;
                    grid-column-end: span 3;
                    margin-bottom: 96px;
                }
                
                .footer__button {
                    border: 2px solid #F16D7F;
                    color: #F26376;
                    font-family: Lato;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    width: 212px;
                    height: 48px;
                }